* {
	box-sizing: border-box;
	line-height: 1.2;
}

body {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100vw;
	height: 100%;
	min-height: 100vh;
	font-family: $body-font;
	background-color: $blue;
	margin: 0;
	padding: 0;
	color: $gray;
}

.sidenav {
	display: flex;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	background-color: rgba($blue, 0.9);
	overflow-x: hidden;
	transition: 0.5s;

	nav {
		display: flex;
		flex-direction: column;
		padding: $global-padding;
		width: 100%;

		.closebtn {
			display: flex;
			justify-content: flex-end;

			a {
				text-decoration: none;
				font-size: $global-font-size * 3;
				color: $yellow;
			}
		}

		.portrait {
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100%;
				max-width: 100px;
			}
		}

		.menu {
			display: flex;
			flex-direction: column;

			li {
				display: flex;
				list-style-type: none;
				border-bottom: 1px dotted $yellow;

				&:last-child {
					border-bottom: none;
				}

				a {
					display: flex;
					justify-content: center;
					flex-grow: 1;
					text-align: center;
					padding: $global-padding*2 $global-padding / 2;
					color: $yellow;
					font-size: $global-font-size * 1.5;
				}
			}
		}
	}
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	width: 100%;
	max-width: 100vw;
	height: 5rem;
	position: fixed;
	background-color: $blue;
	z-index: 10;

	.logo_link {
		padding: $global-padding;

		.logo {
			max-width: 200px;
			width: 100%;
			height: auto;

			@media screen and (min-width: 768px) {
				max-width: 250px;
			}
		}
	}

	.menu_button {
		display: flex;
		padding: $global-padding;

		@media screen and (min-width: 768px) {
			display: none;
		}

		.menu_icon {
			color: $yellow;
			font-size: $global-font-size * 1.5;
		}
	}

	.main_menu {
		display: none;
		flex-direction: column;
		padding: $global-padding;

		@media screen and (min-width: 768px) {
			display: flex;
		}

		.menu {
			display: flex;
			justify-content: space-between;
			flex-direction: row;

			li {
				display: flex;

				a {
					display: flex;
					padding: $global-padding / 2;
					color: $yellow;
					font-size: $global-font-size * 1.2;
				}

				&:last-child {
					a {
						padding-right: 0;
					}
				}
			}
		}
	}
}

// Main section styles
main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	margin-top: 5rem;

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 1000px;
		margin: $global-margin * 3 auto;
		padding: $global-padding;

		&.banner_section {
			position: relative;
			overflow: hidden;
			max-height: 500px;
			max-width: 100vw;
			margin: 0;
			padding: 0;

			.banner_text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				position: absolute;
				background-color: rgba($blue, 0.85);

				h1 {
					font: {
						family: $title-font;
						size: $global-font-size * 3;
					}
					margin-bottom: $global-margin;

					@media screen and (min-width: 768px) {
						font-size: $global-font-size * 5;
					}
				}

				.home_text {
					border-top: 1px dotted $yellow;
					border-bottom: 1px dotted $yellow;
					padding: $global-padding / 2 0 $global-padding;
					margin-bottom: $global-margin;

					p {
						font: {
							size: $global-font-size * 1.1;
							family: $header-font
						}

						@media screen and (min-width: 768px) {
							font-size: $global-font-size * 1.8;
						}
					}
				}

				.social {
					display: flex;
					justify-content: space-between;
					width: 16.5rem;

					@media screen and (min-width: 768px) {
						width: 27.5rem;
					}

					a {
						i {
							color: $gray;
							font-size: $global-font-size * 2;

							@media screen and (min-width: 768px) {
								font-size: $global-font-size * 3;
							}

							&:hover,
							&:focus,
							&:active {
							color: $yellow;
							}
						}
					}
				}
			}

			.banner_container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.banner_mobile {
					display: flex;

					@media screen and (min-width: 768px) {
						display: none;
					}
				}

				.banner_desktop {
					display: none;

					@media screen and (min-width: 768px) {
						display: flex;
					}
				}
			}
		}

		&.about_section {
			.about_me {
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: $global-margin * 2;

				img {
					max-width: 150px;
					margin: $global-margin * 2 0;

					@media screen and (min-width: 768px) {
						max-width: 200px;
					}
				}

				p {
					max-width: 500px;
					text-align: justify;
					margin: $global-margin 0;

					@media screen and (min-width: 768px) {
						font-size: $global-font-size * 1.2;
					}
				}
			}

			.journey {
				margin: $global-margin * 2 0;
			}

			.tech_container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin: $global-margin * 2 0;
				width: 100%;

				@media screen and (min-width: 768px) {
					flex-direction: row;
					flex-wrap: wrap;
				}

				.tech_card {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					background: #18192e;
					border-bottom: 0.3rem solid #ffcc00;
					border-radius: 0.5rem 0.5rem 1rem 1rem;
					max-width: 300px;
					margin: $global-margin 0;

					@media screen and (min-width: 768px) {
						margin: $global-margin;
						max-width: 200px;
					}

					.tech_title {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: $global-padding;

						h4 {
							margin: 0;
							padding: 0;
							font-size: $global-font-size;
							color: $yellow;

							@media screen and (min-width: 768px) {
								font-size: $global-font-size * 1.2;
							}
						}
					}
				}
			}
		}

		// &.portfolio_section {}
		// &.resume_section {}

		&.contact_section {
			.contact_details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin-bottom: $global-margin;

				@media screen and (min-width: 768px) {
					flex-direction: row;
					justify-content: space-between;
				}

				.contact_box {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					max-width: 500px;
					width: 100%;
					margin: $global-margin 0;
					background-color: #0a0a1a;
					border-radius: 1rem;
					max-width: 300px;

					.contact_icon {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: $global-padding / 2;
						width: 100%;

						i {
							font-size: $global-font-size * 2;
						}
					}

					.contact {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						// border: 1px dotted $yellow;
						padding: $global-padding / 2;
					}
				}
			}

			.contact_form {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;

				form {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					width: 100%;
					max-width: 500px;
					padding: $global-padding;
					border: 2px dashed #1a1a38;
					border-radius: 0.5rem;

					input {
						background-color: #18192e;
						border-radius: 0.2rem;
						border: 0;
						margin-bottom: $global-margin;
						padding: $global-padding;
						width: 100%;
						color: $gray;
						font: {
							family: $body-font;
							size: $global-font-size;
						}
					}

					textarea {
						background-color: #18192e;
						border-radius: 0.2rem;
						border: 0;
						margin-bottom: $global-margin;
						padding: $global-padding;
						width: 100%;
						color: $gray;
						font: {
							family: $body-font;
							size: $global-font-size;
						}
					}

					.submit {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: $global-padding / 2;
						background-color: darken(#18192e, 2%);
						box-shadow: 2px 2px 4px -3px $gray;
						border: {
							width: 0;
							radius: 0.2rem;
						}
						width: 100%;
						color: $white;

						&:active,
						&:focus {
							box-shadow: 2px 2px 4px -3px $gray;
						}
					}
				}
			}
		}
	}
}

// Footer styles
footer { 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-top: 1px solid $gray;
	padding: $global-padding * 2 $global-padding;
}
// Global classes
.yellow {
	color: $yellow;
}
