@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --animate-duration: 2000ms;
  --animate-delay: 5s;
  --primary-color: #500872;
  --secondary-color: #fad645;
  --golden-color: #b89401;
  --white-color: #FFFFFF;
}

* {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE and Edge */
}

*::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Edge */
}

body {
    font-family: "Comic Neue", serif;
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, a {
  color: var(--secondary-color);
}

a:active, a:hover, a:focus {
  color: var(--golden-color);
}

a.buy-me-a-coffee {
  background-color: var(--white-color);
  color: var(--primary-color);
}

a.buy-me-a-coffee:hover,
a.buy-me-a-coffee:focus,
a.buy-me-a-coffee:active {
  background-color: #D3D3D3;
}

p {
  color: var(--white-color);
}
