@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-light-blue: #dcfff6;
  --color-red: #d10000;
  --color-red-hover: #ff1010;
  --color-white: #ffffff;
  --color-gray: #676767;
  --animate-duration: 2000ms;
  --animate-delay: 5s;
}

body {
  @apply bg-[var(--color-light-blue)];
}

h1, h2, h3, h4, h5, h6, a {
  @apply text-[var(--color-red)];
}

p, ul, ol, dl, dt, dd {
  @apply text-[var(--color-gray)];
}

button {
  @apply bg-[var(--color-red)] text-[var(--color-white)];
}

button:hover,
button:focus,
button:active {
  @apply bg-[var(--color-red-hover)] text-[var(--color-light-blue)];
}
